:host {
  max-width: 50%;
}

/* :host([is-hidden]) {
  position: absolute;
  pointer-events: none;
} */
:host(:first-of-type) {
  margin-top: 2rem; // ToDo: (Maybe) move to notification-container
  margin-top: 1rem;
}

aside {
  @extend %custom-toast;
  @extend %min-w-60, %shadow-lg;

  position: relative;
  right: 0;
  margin: 1rem 2rem;

  &.success,
  &:not(.success, .info, .error, .warning) {
    @extend %custom-toast-type-success;
  }

  &.info {
    @extend %custom-toast-type-info;
  }

  &.error {
    @extend %custom-toast-type-error;
  }

  &.warning {
    @extend %custom-toast-type-warning;
  }
}
