:host {
  --clr-black: #020202;
  --clr-grey: #505050;
  --clr-white: #fff;
  --clr-green: #14c0a0;
  --clr-green-light: #e1f8f2;
  --clr-blue: #0087cc;
  --clr-blue-light: #e1f2f9;
  --clr-red: #f0264d;
  --clr-red-light: #fdeaee;
  --clr-yellow: #ffa800;
  --clr-yellow-light: #fff6e5;
}

%text {
  &-black {
    color: var(--clr-black);
  }

  &-grey {
    color: var(--clr-grey);
  }

  &-white {
    color: var(--clr-white);
  }

  &-green {
    color: var(--clr-green);

    &-light {
      color: var(--clr-green-light);
    }
  }

  &-blue {
    color: var(--clr-blue);

    &-light {
      color: var(--clr-blue-light);
    }
  }

  &-red {
    color: var(--clr-red);

    &-light {
      color: var(--clr-red-light);
    }
  }

  &-yellow {
    color: var(--clr-yellow);

    &-light {
      color: var(--clr-yellow-light);
    }
  }
}

%bg {
  &-black {
    background-color: var(--clr-black);
  }

  &-grey {
    background-color: var(--clr-grey);
  }

  &-white {
    background-color: var(--clr-white);
  }

  &-green {
    background-color: var(--clr-green);

    &-light {
      background-color: var(--clr-green-light);
    }
  }

  &-blue {
    background-color: var(--clr-blue);

    &-light {
      background-color: var(--clr-blue-light);
    }
  }

  &-red {
    background-color: var(--clr-red);

    &-light {
      background-color: var(--clr-red-light);
    }
  }

  &-yellow {
    background-color: var(--clr-yellow);

    &-light {
      background-color: var(--clr-yellow-light);
    }
  }
}

%border {
  &-black {
    border-color: var(--clr-black);
  }

  &-grey {
    border-color: var(--clr-grey);
  }

  &-white {
    border-color: var(--clr-white);
  }

  &-green {
    border-color: var(--clr-green);

    &-light {
      border-color: var(--clr-green-light);
    }
  }

  &-blue {
    border-color: var(--clr-blue);

    &-light {
      border-color: var(--clr-blue-light);
    }
  }

  &-red {
    border-color: var(--clr-red);

    &-light {
      border-color: var(--clr-red-light);
    }
  }

  &-yellow {
    border-color: var(--clr-yellow);

    &-light {
      border-color: var(--clr-yellow-light);
    }
  }
}

%min-w-60 {
  min-width: 240px;
}

%shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 100;
}
